.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }


* {margin: 0;padding: 0}

/* first part */

.first-div{
    background-image:url("../images/Banner\ Image.png");
    color:  #e5f0effa;
    height: 600px;
    width: 1250px;
    margin: 50px 140px 0px 140px;
 
}
nav ul li{
  text-align: center;
  
  
}
.h1{
  font-weight: 632px;
  font-size: 72px;
}
.h4{
  font-size: 32px;
}
.text-div{
  padding-top: 200px;
}
header{
  justify-items: center;
}

/* second part */

main{justify-items: center;}
nav ul li{
  text-align: center;
}
.off{
  margin-top: 80px;
}

.percent{
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 66px;
  margin: 20px;
}
.percent-1{
  color:red;
  font-size: 18px;
  
}
.percent-2{
  color: black;
  font-size: 30px;
  margin: none;
}
.img-div{
  height: 500.06px;
  width: 803px;
  margin-top: 50px;
}
.second-part{
  margin: 50px 140px 0px 140px;
  justify-items: center;
}

/* third-part */

